// home_page的样式

main{
    @include flex();
    width: 100% !important;  
    overflow: hidden;
    #banner{
        height: 2.10rem;
        margin-bottom: .18rem;
        img{
            width: 100%;
        }
    }
    .films{
        @include flexbox();
        @include flex-direction(column);
        @include align-items(center);
        li{
            width: 3.41rem;
            position: relative;
            margin-bottom: .2rem;
            img{
                width: 100%;
            }
            >div{
                background: white;
                padding: .1rem .13rem;
                p:nth-child(1){
                    line-height: .2rem;
                }
                p:nth-child(2){
                    font-size: .12rem;
                    color: gray;
                }
                >span{
                    position: absolute;
                    bottom:.16rem;
                    right: .15rem;
                    font-size: .22rem;
                    color: red;
                }
            }
        }
    }
    #morefilms{
        width: 1.6rem;
        height: .3rem;
        margin: .1rem  auto .3rem;
        // @include border(1px #aaa solid 15px); 
        border: 1px solid #aaa;
        border-radius:15px;
        font-size: .12rem;
        color: #616161;
        text-align: center;
        line-height: .3rem;
    }
    .futruefilms{
        div:nth-child(1){
            .line{
                width: 100%;
                height: .01rem;
                background: rgb(167, 167, 167);
            }
        }

        div:nth-child(1){

            div:nth-child(2){
                width: .65rem;
                height: .2rem;
                margin: -.1rem auto;
                border-radius:5px;
                font-size: .1rem;
                text-align: center;
                color: #eee;
                background: #a7a7a7;
            }
        }

        >ul{
            margin-top: .2rem;
        }
    }

    
}