// pay的样式
.pay_content{
    div{
        overflow: hidden;
        span:nth-child(1){
            float: left;
        }
        span:nth-child(2){
            float: right;
        }
    }
    font-size: .12rem;
    line-height: .26rem;
    background: #fff;
    color: #757575;
    padding: .14rem;
    border-bottom: .1rem solid #eee;
}
.pay_li {
    padding: 0 .14rem;
    background: #fff;
    li{
        font-size: .12rem;
        padding: .14rem 0;
        border-bottom: 1px dashed #ccc;
        line-height: .2rem;
        font-size: .16rem;
        img{
            width: .38rem;
        }
        span{
            margin-left: .2rem;
        }
        input{
            float: right;
        }
    }
}
#pay_footer{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    >div{
        display: flex;
        border-top: 1px solid #ccc;
        div:nth-child(1){
            @include flex();
            p{
                font-size: .2rem;
                line-height: .4rem;
            }
        }
       #pay_sure{
            width: 1rem;
            height: .4rem;
            line-height: .4rem;
            text-align: center;
            background: #ff6640;
            color: #fff;
            font-size: .16rem;
        }
    }
}