// seat的样式
main{
    @include flexbox();
    @include  flex-direction(column);
    #details{
        padding: .12rem .14rem .12rem .16rem;
        background: #fff;
        width: 100%;
        border-bottom: .1rem solid #ebebeb;
        border-top: .1rem solid #ebebeb;
        position: relative;
        div:nth-child(1){
            p{
                font-size: .16rem;
    
            }
            span{
                font-size: .14rem;
            }
        }
        div:nth-child(2){
            position: absolute;
            top: .1rem;
            right: .1rem;
            border: 1px solid lightgray;
            width: 1rem;
            height: .36rem;
            border-radius:.2rem;
            text-align: center;
            line-height: .36rem;
            color: #36bfd1;
        }
    }
    .seatTips{
        .seatTips_0{
            width: .14rem;
            height: .14rem;
            display: inline-block;
            border: 1px solid #b4b4b4;
            border-radius: 2px;
        }
        .seatTips_1{
            background: red;
        }
        .seatTips_2{
            background: #36bfd1;
        }
    }
    #contentView{
        width: 100%!important;
        @include flex();
        div:nth-child(1){
            width: 300%;
            height: 150%;
            position: relative;
            background: #fff;
            p{
                height: .2rem;
                border: 1px solid lightgray;
                border-radius: .2rem;
                width:100%;
                text-align: center;
                line-height: .2rem;
            }
            .contentseats{
                div{
                    width: .14rem;
                    height: .14rem;
                    border: 1px solid #b4b4b4;
                    border-radius: 2px;
                    position: absolute;
                    z-index: 100;
                    
                }
                .visited{
                    background: red;
                }
                .clicked{
                    background: #36bfd1;
                }
            }
            
        }
    }
    #footerbar{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: none;
        div:nth-child(1){
            width: 100%;
            padding: .08rem .1rem;
            border-top: 1px solid lightgray;
            border-bottom: 1px solid lightgray;
            background: #fff;
           span{
            border-left: 2px dotted #36bfd1;
            border-right: 2px dotted #36bfd1;
            width: .64rem;
            display: inline-block;
            border-radius: .04rem;
            height: .2rem;
            text-align: center;
            line-height: .2rem;
            background: #36bfd1;
            margin-right: .1rem;
           }
        }
        div:nth-child(2){
            display: flex;
            div:nth-child(1){
                p{
                    font-size: .2rem;
                    line-height: .2rem;
                }
            }
           #sure{
                width: 1rem;
                height: .4rem;
                line-height: .4rem;
                // text-align: center!important;
                text-indent: .2rem;
                background: #ff6640;
                color: #fff;
                font-size: .16rem;
            }
        }
    }
}