<!-- cinema_film的页面 -->
<div class="cinema_film_content">
    <div class="cinema_film_show">
        <div class="cinema_film_show_box">
                <!-- <div>
                    <img src="" alt="">
                    <p>找到你</p>
                </div> -->
        </div>
    </div>
    <div class="cinema_film_info">
        <ul class="cinema_film_time">
            <div>
            <!-- <li class="li_bottom">今天</li>
            <li>明天</li>
            <li>明天</li>
            <li>明天</li>
            <li>明天</li> -->
            </div>
        </ul>
        <ul class="cinema_film_changci">
            <span>今日无排期</span>
        </ul>
    </div>
</div>