<!-- city的页面 -->
<div>
<div id="cityBar">
    <div>GPS定位你所在的城市</div>
    <ul>
      <li id="InCity">北京</li>
    </ul>
    <div>热门城市</div>
    <ul id="hot_city">
      <li data-id="12">北京</li>
      <li data-id="11">上海</li>
      <li data-id="13">广州</li>
      <li data-id="10">深圳</li>
    </ul>
    <div>按字母排序</div>
    <ul id="zmbar">
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li>D</li>
      <li>E</li>
      <li>F</li>
      <li>G</li>
      <li>H</li>
      <li>J</li>
      <li>K</li>
      <li>L</li>
      <li>M</li>
      <li>N</li>
      <li>P</li>
      <li>Q</li>
      <li>R</li>
      <li>S</li>
      <li>T</li>
      <li>W</li>
      <li>X</li>
      <li>Y</li>
      <li>Z</li>
    </ul>
    <div id="wrap">
      <div>A</div>
      <ul id="city_A"></ul>
      <div>B</div>
      <ul id="city_B"></ul>
      <div>C</div>
      <ul id="city_C"></ul>
      <div>D</div>
      <ul id="city_D"></ul>
      <div>E</div>
      <ul id="city_E"></ul>
      <div>F</div>
      <ul id="city_F"></ul>
      <div>G</div>
      <ul id="city_G"></ul>
      <div>H</div>
      <ul id="city_H"></ul>
      <div>J</div>
      <ul id="city_J"></ul>
      <div>K</div>
      <ul id="city_K"></ul>
      <div>L</div>
      <ul id="city_L"></ul>
      <div>M</div>
      <ul id="city_M"></ul>
      <div>N</div>
      <ul id="city_N"></ul>
      <div>P</div>
      <ul id="city_P"></ul>
      <div>Q</div>
      <ul id="city_Q"></ul>
      <div>R</div>
      <ul id="city_R"></ul>
      <div>S</div>
      <ul id="city_S"></ul>
      <div>T</div>
      <ul id="city_T"></ul>
      <div>W</div>
      <ul id="city_W"></ul>
      <div>X</div>
      <ul id="city_X"></ul>
      <div>Y</div>
      <ul id="city_Y"></ul>
      <div>Z</div>
      <ul id="city_Z"></ul>
    </div>
</div>
</div>