{{#each list}}
<li id="{{id}}">
    <div class="film_future_list_left">
        <img src="{{cover.origin}}" alt="">
    </div>
    <ul class="film_future_list_right">
        <li><span class="film_future_list_name">{{name}}</span><span class="film_future_list_score"></span><span class="film_future_list_jiantou">></span></li>
        <li class="film_future_list_name"></li>
        <li><span class="film_future_list_cinemaNum">{{cinemaCount}}</span>
            <span>上映</span>
            <span class="film_future_list_personNum">{{scheduleCount}}</span>
            <span>人购票</span></li>
    </ul>
</li>
{{/each}}