<div class="film_detail_content"> 
<img src="{{cover.origin}}" alt="" class="film_detail_img">
<ul class="film_detail_describe">
    <li class="film_detail_jianjie">影片简介</li>
    <li class="film_detail_direct"><span>导演:</span><span>{{director}}</span></li>
    <li class="film_detail_actor"><span>主演:</span><span>{{actors}}</span></li>
    <li class="film_detail_language"><span>地区语言:</span>{{nation}}({{language}})</li>
    <li class="film_detail_type"><span>类型:</span><span>{{category}}</span></li>
    <li class="film_detail_time"><span>上映日期:</span><span>{{premiereAt}}</span></li>
    <li class="film_detail_text">{{synopsis}}</li>
</ul>
<button class="film_detail_button">立即购票</button>
</div>