{{#each list}}
<li id="{{id}}">
    <div class="film_future_list_left">
        <img src="{{cover.origin}}" alt="">
    </div>
    <ul class="film_future_list_right">
        <li><span class="film_future_list_name">{{name}}</span><span class="film_future_list_score"></span><span class="film_future_list_jiantou">></span></li>
        <li class="film_future_list_name"></li>
        <li><span class="film_future_list_cinemaNum">{{premiereAt}}</span>
            <span></span>
            <!-- <span class="film_future_list_personNum"></span>
            <span></span></li> -->
    </ul>
</li>
{{/each}}