<!-- 头部和侧边栏的html -->
<header>
  <div class="iconfont" id="MenuOnoff">&#xe630;</div>
  <div class="top_name currentLocation">卖座电影</div>
  <div>
      <span id="city">北京</span>
      <span class="iconfont">&#xe62e;</span>
      <span class="iconfont manicon">&#xe62f;</span>
  </div>
  <div id="sideMenu">
    <ul>
      <li class="home_page">首页<span class="iconfont">&#xe631;</span></li>
      <li class="film_hot">影片<span class="iconfont">&#xe631;</span></li>
      <li class="cinema_list">影院<span class="iconfont">&#xe631;</span></li>
      <li>商城<span class="iconfont">&#xe631;</span></li>
      <li class="mymessage">我的<span class="iconfont">&#xe631;</span></li>
      <li>卖座卡<span class="iconfont">&#xe631;</span></li>
    </ul>
  </div>
  
    
 
  
</header>

<main>

</main>
