<!-- order -->
<div class="order_content">
    <h1>uois</h1>
    <p>dsjfjlk</p>
    <div>7号厅</div>
    <div class="order_seat">dsfsdf</div>
    <div class="order_date">6687</div>
    <div class="order_price">￥787</div>
</div>
<ul class="order_li">
    <li>
        <span>优惠活动</span>
        <span class="iconfont">&#xe631;</span>
        <span>暂无活动</span>
    </li>
    <li>
        <span>卖座卡/预售卡</span>
        <span class="iconfont">&#xe631;</span>
        <span>0张可用</span>
    </li>
    <li>
        <span>现金券</span>
        <span class="iconfont">&#xe631;</span>
        <span>0张可用</span>
    </li>
    <li>
        <span>账户余额</span>
        <span>￥0.00</span>
    </li>

</ul>

<div id="order_footer">
    <div>
        <div>
            <p>￥40</p>
        </div>
        <div id="order_sure">确认</div>
    </div>
</div>