<!--pay的html结构 -->
<div class="pay_content">
    <div>
        <span>订单商品</span>
        <span>电影票</span>
    </div>
    <div>
        <span>订单总额</span>
        <span>￥&*8978</span>
    </div>
    <div>
        <span>优惠折扣</span>
        <span>0</span>
    </div>
</div>
<ul class="pay_li">
    <li>
        <img src="https://static.maizuo.com/pc/v5/tm/d7c76e4e3d23a982424c44fa8d7f4787.png" alt="">
        <span>微信支付</span>
        <input type="checkbox">
    </li>
    <li>
        <img src="https://static.maizuo.com/pc/v5/tm/eae443351473bc1d09a53ca4457a0133.png" alt="">
        <span>支付宝支付</span>
        <input type="checkbox">
    </li>
    <li>
        <img src="https://static.maizuo.com/pc/v5/tm/c9f7a94534ee2d856549b9e469a428a1.png" alt="">
        <span>财付通支付</span>
        <input type="checkbox">
    </li>
    <li>
        <img src="https://static.maizuo.com/pc/v5/tm/de3b96af84e8f9620688d7412d682c6c.png" alt="">
        <span>平安银行支付</span>
        <input type="checkbox">
    </li>
    <li>
        <img src="https://static.maizuo.com/pc/v5/tm/6fee02f74686f5664600ea2e9e4d2d19.png" alt="">
        <span>银联支付</span>
        <input type="checkbox">
    </li>

</ul>
<div id="pay_footer">
    <div>
        <div>
            <p id="pay_price">￥40</p>
        </div>
        <div id="pay_sure">确认</div>
    </div>
</div>