<!--person的html结构 -->
<div class="person_head">
    <div>
        <div> <img src="https://static.maizuo.com/pc/v5/usr/default/maizuomoren66.jpg" alt=""></div>       
    </div>
    <div>
        <p>手机89797</p>
        <p>id798797979</p>
        <a href="##">退出</a>
    </div>
</div>
<ul class="person_ul">
    <li class="person_li">
        <span>图</span>
        <span>影票订单</span>
        <span class="iconfont">&#xe631;</span>
        <span>0张</span>
    </li>
    <li class="person_li">
        <span>图</span>
        <span>影票代付订单</span>
        <span class="iconfont">&#xe631;</span>
        <span>0张</span>
    </li>
    <li class="person_li">
        <span>图</span>
        <span>商城订单</span>
        <span class="iconfont">&#xe631;</span>
        <span>0张</span>
    </li>
    <li class="person_li">
        <span>图</span>
        <span>我的现金券</span>
        <span class="iconfont">&#xe631;</span>
        <span>0张</span>
    </li>
    <li>
        <span>图</span>
        <span>账户余额</span>
        <span class="iconfont">&#xe631;</span>
        <span>0张</span>
    </li>
    <li>
        <span>图</span>
        <span>我的卖座卡</span>
        <span class="iconfont">&#xe631;</span>
        <span>0张</span>
    </li>
    <li>
        <span>图</span>
        <span>设置</span>
    </li>
</ul>