<!--seat的html结构 -->
<div id="details">
    <div>
        <p>北京国际影城</p>
        <span>29749827</span>
    </div>
    <div>换一场</div>
</div>
<div class="seatTips">
    <span class="seatTips_0 seatTips_1"></span>
    <span>已被选</span>
    <span class="seatTips_0 seatTips_2"></span>
    <span>已选座</span>
    <span class="seatTips_0 seatTips_3"></span>
    <span>可选</span>
</div>
<div id="contentView">
    <div>
        <p>荧幕方向</p>
        <div class="contentseats">
            
        </div>
    </div>
    
</div>
<div id="footerbar">
    <div id="order">
        <!-- <span></span> -->
    </div>
    <div>
        <div>
            <p>￥40</p>
        </div>
        <div id="sure">确认</div>
    </div>
</div>